#cookie {
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    color: #FFF;
    background-color: #fa0;
    opacity: 50%;
}

.article1 {grid-area: article1;}
.article2 {grid-area: article2;}
.article3 {grid-area: article3;}
.article4 {grid-area: article4;}
.article5 {grid-area: article5;}
.article6 {grid-area: article6;}
.product1 {grid-area: product1;}
.product2 {grid-area: product2;}
.product3 {grid-area: product3;}

@media screen and (min-width: 1280px) {
    main {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .websiteHeader {
        width: 80%;
        height: 175px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
    }

    .websiteHeader::after {
        content: "";
        clear: both;
        display: table;        
    }

    .websiteHeader img {
        width: 10%;
        padding: 1.5em;
        max-width: 150px;
    }

    .websiteHeader h1 {
        padding: 0.5em;
        font-size: 4vw;
    }

    .websiteHeader h2 {
        position: absolute;
        top: 125px;
        left: 35%;
    }

    body{
        background-color: green;
    }    

    .articles {
        display: grid;
        grid-template-areas:
            "article2 article1 article3"
            "article2 article1 article3"
            "article5 article1 article3"
            "article5 article1 article4"
            "article5 article1 article4"
            "article5 article1 article4"
            "article5 article6 article6";
        background-color: indigo;
    }

    .articles article {
        border: blueviolet 3px solid;
        padding: 10px;
        margin: auto;
    }

    .asideProduct {
        display: grid;
        gap: 25px;
        grid-template-areas: 
        "product1 product2 product3"
        "product1 product2 product3";
    }

    .asideProduct a {
        border: yellowgreen 3px solid;
    }
    
    .asideProduct a img {
        width: 100%;
    }

    #mobile-menu {
        display: none;
    }

    #indexPage {
        display: flex;
        flex-wrap: wrap;
    }

    .contentIndex {
        background-color: blueviolet;
        padding: 20px 0px 20px 0px;
        margin-left: 3%;
        width: 74%;
    }

    .contentIndex article {
        overflow: auto;
    }

    #indexPage article figure {
        float: right;
        margin: 0px 10px 10px 10px;
        
    }
    #indexPage article figure img {
        width: 400px;
    } 

    .asideIndex {        
        flex:  0 0 175px;
        background-color: yellow;
        padding: 40px;
        margin-left: auto;
        order: 2;
    } 
    
    .videoIndex video{
        display: block;
        width: 100%;
    }

    #pc-tablet-menu ul {
        list-style-type: none;
        background-color: tomato;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #pc-tablet-menu li {
        float: left;
        width: 25%;
    }

    #pc-tablet-menu li a {
        display: block;
        color: thistle;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.5vw;
    }

    #pc-tablet-menu li:hover {
        background-color: yellowgreen;
    }

    #pc-tablet-menu a.active {
        background-color: blue;
    }
}

@media screen and (max-width: 480px) {
    #pc-tablet-menu {
        display: none;
    }

    video {
        display: none;
    }

    body{
        background-color: blue;
        overflow-x: hidden;
    }
    
    label .menu {
        position: absolute;
        right: -100px;
        top: -100px;
        z-index: 100;
        width: 200px;
        height: 200px;
        background: #FFF;
        border-radius: 50% 50% 50% 50%;
        box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
        cursor: pointer;
    }

    label .hamburger {
        position: absolute;
        top: 135px;
        left: 50px;
        width: 30px;
        height: 2px;
        background: #69D2e7;
        display: block;
        -webkit-transform-origin: center;
        transform-origin: center;
    }

    label .hamburger:after, label .hamburger:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #69d2e7;
    }

    label .hamburger:before { top: -10px; }

    label .hamburger:after { bottom: -10px; }

    label input { display: none; }

    label input:checked + .menu {
        box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
        border-radius: 0;  
    }

    label input:checked + .menu .hamburger {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);        
    }

    label input:checked + .menu .hamburger:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        bottom: 0;        
    }
      
    label input:checked + .menu .hamburger:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0;
        
    }
      
    label input:checked + .menu + ul { opacity: 1; }
      
    label ul {
        z-index: 200;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
    }
      
    label a {
        margin-bottom: 1em;
        display: block;
        color: #f38630;
        text-decoration: none;        
    }

    h1 {
        text-align: center;
    }

    video {
        display: none;
    }

    .article4 {display: none;}
    .article6 {display: none;}

    .articles {
        display: grid;
        grid-template-areas:
            "article5"
            "article3"
            "article2"
            "article1";
        background-color: indigo;
    }

    .articles article {
        border: blueviolet 3px solid;
        padding: 10px;
        margin: auto;
    }

    .asideProduct {
        display: grid;
        gap: 25px;
        grid-template-areas: 
        "product1"
        "product2"
        "product3";
    }

    .asideProduct a {
        border: yellowgreen 3px solid;
    }
    
    .asideProduct a img {
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 1279px) {
    body{
        background-color: yellow;
    }
    #mobile-menu {
        display: none;
    }

    video {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;        
    }

    #pc-tablet-menu ul {
        list-style-type: none;
        background-color: tomato;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }


    #pc-tablet-menu li a {
        display: block;
        color: thistle;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    #pc-tablet-menu li:hover {
        background-color: yellowgreen;
    }

    #pc-tablet-menu a.active {
        background-color: blue;
    }

    .article4 {display: none;}
    .product3 {display: none;}


    .articles {
        display: grid;
        grid-template-areas:
            "article1 article2"
            "article1 article2"
            "article3 article2"
            "article3 article5"
            "article3 article5"
            "article3 article5"
            "article6 article6"
            "article6 article6";
        background-color: indigo;
    }

    .articles article {
        border: blueviolet 3px solid;
        padding: 10px;
        margin: auto;
    }

    .asideProduct {
        display: grid;
        gap: 25px;
        grid-template-areas: 
        "product1 product2"
        "product1 product2";
    }

    .asideProduct a {
        border: yellowgreen 3px solid;
    }
    
    .asideProduct a img {
        width: 100%;
    }
}